<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudos host vercel</title>
</head>

<body>
    <h1>Esta é a página sobre</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum animi sint modi dolorem? Corporis, error ipsa.
        Aut repellat voluptas totam quibusdam fuga distinctio numquam repellendus suscipit quidem, at, maxime ipsa!</p>
</body>

</html>